################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/binaries
*.suo
*.user
/**/packages
/**/obj/Debug
/data/relational/sql-server/MultitenantDBUsingRLS
*.ide
/**/.vs
/**/obj/
/**/bin
