################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/binaries
*.suo
/**/packages
/**/bin/Debug
/**/obj/Debug
/data/relational/sql-server/MultitenantDBUsingRLS
*.ide
/winforms/poc-template/.vs/
