<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,   Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity configSource="UnityConfiguration.xml"/>
  <system.diagnostics>
    <trace autoflush="true"
             indentsize="1">
      <listeners>
        <add name="Listener1"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="trace.txt" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>